<div class="bg-white text-[#333333] font-sans">
  <app-header></app-header>
  <main>
    <app-hero></app-hero>
    <app-news></app-news>
    <app-blog id="services"></app-blog>
    <app-what-we-do></app-what-we-do>
    <app-feature></app-feature>
    <app-stats></app-stats>
    <app-members></app-members>
    <app-for-clients></app-for-clients>
    <app-company id="company"></app-company>
    <app-recruit></app-recruit>
    <app-contact id="contact"></app-contact>
  </main>
  <app-footer></app-footer>
</div>